// -------------------------------------------------------------------------
#include <windows.h> 
 
// 
// Version Information resources 
// 
LANGUAGE 0, SUBLANG_NEUTRAL 
1 VERSIONINFO 
 FILEVERSION 0,0,1,0
 PRODUCTVERSION 0,0,1,0 
{ 
 BLOCK "StringFileInfo" 
 { 
 BLOCK "08000025" 
 { 
 VALUE "Comments", "My first program in C++"
 VALUE "CompanyName", "You" 
 VALUE "FileDescription", " [Not real DOS]" 
 VALUE "FileVersion", "" 
 VALUE "InternalName", "" 
 VALUE "LegalCopyright", "Your Copyright (C) 2023 " 
 VALUE "LegalTrademarks", "Your Copyright (C) 2023 " 
 VALUE "OriginalFilename", ".exe" 
 VALUE "PrivateBuild", "Null" 
 VALUE "ProductName", " [Not real DOS]" 
 VALUE "ProductVersion", "" 
 VALUE "SpecialBuild", "Released" 
 } 
 } 
 BLOCK "VarFileInfo" 
 { 
 VALUE "Translation", 0x0800, 0x0025 
 } 
} 
// -------------------------------------------------------------------------